.site-header {
  background-color: #F5F8F6 !important;
  text-align: center;
  margin-top: 1rem;
}

.site-header .display-4,
.site-header .lead {
  background: linear-gradient(90deg, #2ba757 0%, #06c006 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent !important;
  display: inline-block;
}

.site-header .lead {
  font-weight: 500;
}

footer {
  position: fixed;
  bottom: 0; 
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #006400;
  color: #fff;
  z-index: 4; 
}

body {
  padding-bottom: 60px; 
  padding-top: 40px;
  background-color: #F5F8F6 !important;
}
