body {
  background-color: #F5F8F6 !important;
  color: #333333 !important;
  padding-bottom: 60px;
  padding-top: 70px;
}

.card-section {
  background-color: #E8F5E9;
  color: #333333;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-success {
  background-color: #198754;
  border-color: #198754;
  color: #fff;
}

.btn-success:hover {
  background-color: #A5D6A7;
  color: #121A12;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #198754;
  color: #fff;
  z-index: 4;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121A12 !important;
    color: #E0E0E0 !important;
  }

  .card-section {
    background-color: #1F2F1F ;
    color: #E0E0E0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  }

  h1.text-success,
  h2.text-success,
  h5.text-success,
  .text-success {
    color: #66BB6A !important;
  }
  em{
    color: rgb(191, 189, 189);
  }
}

.membrana-bicamada {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 2rem 0;
  position: relative; 
  z-index: 0;
  max-width: 100%;
  overflow-x: auto;
  padding: 1rem;
}

.camada-top, .camada-bottom {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.fosfolipidio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  width: 20px;
  cursor: pointer;
  animation: flutuar 3s infinite ease-in-out;
}

.fosfolipidio .cauda {
  width: 12px;
  height: 40px;
  background: #0d6efd;
  border-radius: 5px;
}

.fosfolipidio .cabeca {
  width: 20px;
  height: 20px;
  background: #ffb703;
  border-radius: 50%;
}

.camada-bottom .fosfolipidio {
  flex-direction: column-reverse;
}

.proteina {
  width: 14px;
  height: 50px;
  border-radius: 6px;
  animation: flutuar 3s infinite ease-in-out;
  cursor: pointer;
}

@keyframes flutuar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}